{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Detalle del caso</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="text-center">
                        
                        <tr>
                            <th scope="col">
                            Nombre caso<br>
                            </th>
                            <th scope="col">
                                Cliente<br>
                                </th>
                            <th scope="col">
                            Estado<br>
                            </th>
                            <th scope="col">
                            Descripción<br>
                            </th>
                            
                            
                        </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td >{{ caso.nombre }}</td>
                                <td >{{ caso.cliente }}</td>
                                <td>{{ caso.Estado }}</td>
                                <td>{{ caso.descripcion }}</td>
                                
                               
                                
                            </tr>
                            <tr>
                                
                                <td>
                                    <a href="{% url 'actualizar_descripcion_caso' caso_id=caso.id %}"class="btn btn-primary">Actualizar Descripción</a>
                                  
                                </td>
                                <td colspan="2">
                                    <a href="{% url 'historial_caso' caso_id=caso.id %}" class="btn btn-primary">Historial caso</a>
                                </td>
                                <td >
                                    <form method="post" action="{% url 'eliminar_caso' codigo_caso=caso.id %}">
                                      {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                                
                                <a href="{% url 'clientes_con_casos' %}" class="btn btn-secondary">Volver </a>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

{% endblock %}
