{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Documentos del Cliente</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <h1>Documentos del Clientes: {{ cliente.nombrec }} {{ cliente.apellido }}</h1>
        </div>
    </div>

    <div>
        <h2>Casos del Cliente</h2>
        <ul>
            {% for caso in casos_clientes %}
                <li>{{ caso.nombre }}</li>
            {% endfor %}
        </ul>

        <!-- Agrega aquí la sección para mostrar los documentos relacionados con el caso seleccionado -->
    </div>

</body>
</html>
{% endblock %}