{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Documentos del Cliente</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <h1>Documentos de {{ cliente.nombrec }} {{ cliente.apellido }}</h1>
        </div>
    </div>

    <div>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Tipo de Documento</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Creación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for documento in documentos %}
                    <tr>
                        <td>{{ documento.tipo_documento }}</td>
                        <td>{{ documento.descripcion_documento }}</td>
                        <td>{{ documento.fecha_creacion }}</td>
                        <td>
                            <a href="{}" class="btn btn-primary">Ver Detalles</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
{% endblock %}