{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar Horario</title>

    <!-- Asegúrate de cargar jQuery antes de los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Incluye Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Incluye el widget DateTimePicker CSS -->
    {{ form.media.css }}
    
    <!-- Incluye Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Incluye el widget DateTimePicker JS -->
    {{ form.media.js }}

    <!-- Incluye Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Configura el widget DateTimePicker -->
    <script>
        $(function () {
            $('#id_fecha').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });
    </script>
</head>

<body>

  <h2>Actualice Horario</h2>

  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
          <label for="id_fecha">Fecha:</label>
          {{ form.fecha }}
      </div>

      <div class="form-group">
          <label for="id_hora">Hora:</label>
          {{ form.hora }}
      </div>

      <button type="submit" class="btn btn-primary">Actualizar Horario</button>
      
  </form>
  <br>
  <div>
    <a href="{%url 'lista_fechas_horarios_abogado'%}" class="btn btn-secondary">Volver </a>
  </div>
</body> 
</html>
{% endblock %}