{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Documentos del Caso: {{ caso.nombre }}</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <h1>Documentos del Caso: {{ caso.nombre }}</h1>
            
        </div>
    </div>

    {% if documentos_caso %}
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Tipo de Documento</th>
                    <th scope="col">Fecha de Creación</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Archivo</th>
                    <th scope="col">Opcion1</th>
                    <th scope="col">Opcion2</th>
                    <!-- Puedes agregar más encabezados según tus necesidades -->
                </tr>
            </thead>
            <tbody>
                {% for documento in documentos_caso %}
                    <tr>
                        <td>{{ documento.tipo_documento }}</td>
                        <td>{{ documento.fecha_creacion }}</td>
                        <td>{{ documento.descripcion_documento }}</td>
                        <td>
                            {% if documento.archivo_adjunto %}
                                <a href="{{ documento.archivo_adjunto.url }}" download>Descargar</a>
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'actualizar_descripcion_caso' caso_id=caso.id %}">Actualizar Descripción</a>

                        </td>
                        

                        <td>
                            <a href="{% url 'editar_documento_abogado' codigo_documento=documento.id %}" class="btn btn-primary">Editar</a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'eliminar_documento_abogado' codigo_documento=documento.id %}">
                                {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Eliminar</button>
                              </form>
                        </td>
                        
                        <!-- Puedes agregar más columnas según tus necesidades -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay documentos para este caso.</p>
        <a href="{% url 'ver_documentos_abogado' %}" class="btn btn-secondary">Volver </a>
    {% endif %}

</body>
</html>

{% endblock %}