{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
  <h2>Actualizar Descripción del Caso</h2>

  <form method="post" action="{% url 'actualizar_descripcion_caso' caso_id=caso.id %}" class="container">
    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Actualizar Descripción</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Descripción Actual</h5>
            <p>{{ caso.descripcion }}</p>

            <div class="form-group">
              <label for="id_nueva_descripcion" class="font-weight-bold">Nueva Descripción:</label>
              <textarea id="id_nueva_descripcion" name="nueva_descripcion" rows="4" cols="50" class="form-control">{{ caso.descripcion }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </form>


{% endblock %}
