{% extends 'partials/base.html' %}
{% load static %}


{% block content %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crear Cita</title>

    <!-- Enlace al estilo de FullCalendar -->
    <link rel="stylesheet" href="{% static 'lib/main.css' %}">


    <!-- Enlace a FullCalendar -->

<body>
    <div class="container mt-5">
       
        <!-- Calendario FullCalendar con diseño mejorado -->
        <div id='calendar'>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="mb-3">Calendario de Citas</h3>
                    </div>
                   
                </div>
                <hr>
                <div id="calendar-inner"></div>
            </div>
        </div>

        <!-- Formulario para crear cita -->
        <form method="post" action="{% url 'registrar_cita' %}" target="_blank">
            {% csrf_token %}

            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary mt-3">Crear Cita</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar-inner');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
                },
                initialView: 'dayGridMonth', // Vista inicial por defecto
                views: {
                    list: { buttonText: 'Lista' },
                    dayGrid: { buttonText: 'Día' },
                    timeGrid: { buttonText: 'Semana' }
                },
                events: [
                    {% for cita in object_list %}
                        {
                            title: '{{ cita.abogado.nombrea }}',
                            start: '{{ cita.fecha_cita|date:"Y-m-d\TH:i:s" }}',
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
            });
            calendar.render();
        });
    </script>

{% endblock %}
{% block extra_javascript %}
       

        <!-- plugin js -->
        <script src="{% static 'libs/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'libs/jquery-ui-dist/jquery-ui.min.js' %}"></script>
        <script src="{% static 'libs/fullcalendar/index.global.min.js' %}"></script>

        <!-- Calendar init -->
 
      
{% endblock %}                            
