{% extends 'partials/base.html' %}
{% block content %}
  <h2>Todas las Citas con el Abogado</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th colspan="2"> Opciones</th>
          <!-- Agrega más columnas según los campos que desees mostrar -->
        </tr>
      </thead>
      <tbody>
        {% for cita in citas_cliente_abogado %}
          <tr>
            <td>{{ cita.horario_atencion.fecha }}</td>
            <td>{{ cita.horario_atencion.hora }}</td>
            <td >
              <a class="btn btn-info" href="{% url 'editar_cita' codigo_cita=cita.id %}">Editar</a>
            </td>
            <td >
                  <form method="post" action="{% url 'eliminar_cita' codigo_cita=cita.id %}">
                    {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                  </td>
            <!-- Agrega más celdas según los campos que desees mostrar -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}