{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}

<!-- editar_cita.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Editar Cita</title>
</head>
<body>
    <h1>Editar Cita</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>

{% endblock %}
{% block extra_javascript %}

    <!-- Peity chart-->
    <script src="{% static 'libs/peity/jquery.peity.min.js' %}"></script>

    <!-- Plugin Js-->
    <script src="{% static 'libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}