{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro de Citas</title>

   

    <!-- Asegúrate de cargar jQuery antes de los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Enlace al widget DateTimePicker -->
    {{ form.media.css }}
    {{ form.media.js }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/dist/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        $(function () {
            $('#id_fecha_cita').datetimepicker();
        });
    </script>
    <!-- Enlace al estilo de Tempus Dominus -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/dist/css/tempusdominus-bootstrap-4.min.css">
</head>

<body>

    <form method="post" action=" " class="container mt-4">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Ingrese sus datos</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Registro de Documentos</h5>
                      
                        {% for field in form %}

                        <div class="form-group">
                                {{field.errors}}
                                <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                                 
                                {{field}}
                        </div>

                        {% endfor %}
                        <div class="form-group"></div>
                        <input type="submit" class="mt-10 btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    
</body> 
</html>
{% endblock %}
{% block extra_javascript %}

    <!-- Peity chart-->
    <script src="{% static 'libs/peity/jquery.peity.min.js' %}"></script>

    <!-- Plugin Js-->
    <script src="{% static 'libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}