{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
  <h2>Detalles del Caso</h2>

  <!-- Resto de la información del caso -->
  <table class="table">
    <tr>
      <th>Nombre</th>
      <td>{{ caso.nombre }}</td>
    </tr>
    <tr>
      <th>Tipo de Caso</th>
      <td>{{ caso.tipos_casos }}</td>
    </tr>
    <tr>
      <th>Estado</th>
      <td>{{ caso.Estado }}</td>
    </tr>
    <tr>
      <th>Fecha de Apertura</th>
      <td>{{ caso.fecha_apertura }}</td>
    </tr>
    <tr>
      <th>Descripción</th>
      <td>{{ caso.descripcion }}</td>
    </tr>
  </table>

  <!-- Mostrar historial de actualizaciones en una tabla -->
  <h3>Historial de Actualizaciones</h3>
  <table class="table">
    <thead>
      <tr>  
        <th>Actualización</th>
      </tr>
    </thead>
    <tbody>
        {% for actualizacion in historial_actualizaciones %}
        <tr>
          <td>{{ actualizacion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</table>
{% endblock %}
