{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<h2>Historial de tus Citas Agendadas</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th> <!-- Columna extra para el botón de detalles -->
        <!-- Agrega más columnas según los campos que desees mostrar -->
      </tr>
    </thead>
    <tbody>
      {% for abogado in abogados_con_citas %}
        <tr>
          <td>{{ abogado.nombrea }}</td>
          <td>{{ abogado.apellido }}</td>
          <td>
            <a href="{% url 'detalle_citas_cliente' cliente_id=cliente_id abogado_id=abogado.id %}" class="btn btn-primary">Ver Citas</a>
          </td>
          <!-- Agrega más celdas según los campos que desees mostrar -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




{% endblock %}