{% extends 'partials/base.html' %}
{% load static %}



{% block content %}
<div class="container">

    <div class="row">
        {% for abogado in abogados %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if abogado.foto %}
                    <img src="{{ abogado.foto.url }}" alt="Admin" class="rounded-circle" width="150">
                    {% endif %}
                    <div class="mt-3">
                        <h5 class="card-title">{{abogado.nombrea}} {{abogado.apellido}}</h5>
                        <p class="card-text"><strong>Casos de Especialización:</strong>{{abogado.tipos_especialidad}}</p>
                        <td><a href="/detalle_abogado/{{ abogado.pk }}" class="btn btn-primary">Mas Información</a></td>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}



