{% extends 'partials/base.html' %}
{% load static %}


{% block content %}



{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registross de Cliente</title>

    
    {{ form.media.css }}
    {{ form.media.js }}
</head>

<body>

    <div class="container mt-5">
        <h1 class="text-center">Registro de Cliente</h1>
        <form method="post" action="{% url 'ver_perfil_usuario' %}">
            {% csrf_token %}
            
            {{ form.as_p }}
          
            <button type="submit">Guardar</button>
          </form>
    </div>

    
</body>
</html>
{% endblock %}
{% block extra_javascript %}

    <!-- Peity chart-->
    <script src="{% static 'libs/peity/jquery.peity.min.js' %}"></script>

    <!-- Plugin Js-->
    <script src="{% static 'libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}