{% extends 'partials/base.html' %}
{% load static %}



{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subir Documentos</title>

    
</head>

<body>

    <form method="post" action="{% url 'subir_documento' %}" enctype="multipart/form-data" class="container">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Subir Documento</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Documentos</h5>

                        <div class="form-group">
                            <label for="id_caso" class="font-weight-bold">Caso:</label>
                            {{ form.caso }}
                        </div>

                        <div class="form-group">
                            <label for="id_tipo_documento" class="font-weight-bold">Tipo de Documento:</label>
                            {{ form.tipo_documento }}
                        </div>

                        <div class="form-group">
                            <label for="id_descripcion_documento" class="font-weight-bold">Descripción del Documento:</label>
                            {{ form.descripcion_documento }}
                        </div>

                        <div class="form-group">
                            <label for="id_archivo_adjunto" class="font-weight-bold">Archivo Adjunto:</label>
                            {{ form.archivo_adjunto }}
                        </div>

                        <button type="submit" class="btn btn-primary">Subir Documento</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    
</body>
</html>
{% endblock %}

{% block extra_javascript %}
       

        <!-- plugin js -->
        <script src="{% static 'libs/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'libs/jquery-ui-dist/jquery-ui.min.js' %}"></script>
        <script src="{% static 'libs/fullcalendar/index.global.min.js' %}"></script>

        <!-- Calendar init -->
        <script src="{% static 'js/pages/calendar.init.js' %}"></script>
      
{% endblock %}         