{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Detalle de la cita</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="text-center">
                        
                        <tr>
                            
                            <th scope="col">
                            Abogado<br>
                            </th>
                            <th scope="col">
                            Cliente<br>
                            </th>
                            <th scope="col">
                            Fecha de cita<br>
                            </th>
                            <th scope="col">
                            Lugar de cita<br>
                            </th>
                            <th scope="col">
                            Descripción<br>
                            </th>
                            <th scope="col">
                            Fecha de creación<br>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td >{{ cita.abogado }}</th>
                                <td>{{ cita.cliente }}</td>
                                <td>{{ cita.fecha_cita }}</td>
                                <td>{{ cita.lugar_cita }}</td>
                                <td>{{ cita.descripcion }}</td>
                                <td>{{ cita.fecha_creacion }}</td>
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <form method="post" action="{% url 'eliminar_cita' codigo_cita=cita.id %}">
                                      {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                                <td colspan="3">
                                    <a href='/editar_cita/{{cita.id}}' class="btn btn-primary">Editar</a>
                                    
                                </td>
                            </tr>
                               
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

{% endblock %}
