{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
  <h2>Casos del Cliente: {{ request.user.cliente.nombrec }}</h2>

  {% if casos_cliente %}
  <table class="table">
    <thead class="table-light">
        <tr>
          <th scope="col">Nombre del Caso</th>
          <th scope="col">Opciones</th>
       
        </tr>
      </thead>
      <tbody>
        {% for caso in casos_cliente %}
          <tr>
            <td>{{ caso.nombre }}</td>
            <td><a href="{% url 'ver_documentos' caso_id=caso.id %}">{{ caso.nombre }}</a>Ver Documentos</td>
       
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay casos para este cliente.</p>
  {% endif %}
{% endblock %}