{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Detalle del documento</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="text-center">
                        
                        <tr>
                            <th scope="col">
                            Caso<br>
                            </th>
                            <th scope="col">
                            Tipo de documento<br>
                            </th>
                            <th scope="col">
                            Descripción<br>
                            </th>
                            
                            
                        </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td >{{ documento.caso }}</td>
                                <td>{{ documento.tipo_documento }}</td>
                                <td>{{ documento.descripcion_documento }}</td>
                                
                               
                                
                            </tr>
                            <tr>
                                <td >
                                    <form method="post" action="{documento.get_delete_url}">
                                     
                                        {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                                <td colspan="2">
                                    
                                        <a href='/editar_documento/{{documento.id}}' class="btn btn-primary">Editar</a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

{% endblock %}
