{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Sign in{% endblock title %}
    
{% block content %}
                    
                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Bienvenido</h5>
                                <p class="text-white-50">Inicia Sesión para continuar</p>
                                <a href="{% url 'dashboard' %}" class="logo logo-admin">
                                    <img src="{% static 'images/LOGO.png' %}" height="75" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="p-3">
                                <form class="mt-4 needs-validation" novalidate method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ form.login|as_crispy_field }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form.password|as_crispy_field }}
                                    </div>

                                    <div class="mb-3 row">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                {{ form.remember|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Iniciar Sesión</button>
                                        </div>
                                    </div>
                                    <div class="mt-4 pt-2 text-center">
                                        <div class="signin-other-title">
                                            <h5 class="fs-sm mb-4 title">Inicia sesión con</h5>
                                        </div>
                                        <div>
                                            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-icon waves-effect waves-light"><i class="mdi mdi-google fs-lg"></i></a>
                                        </div>
                                    </div>

                                    <div class="mt-2 mb-0 row">
                                        <div class="col-12 mt-4">
                                            <a href="{% url 'account_reset_password' %}"><i class="mdi mdi-lock"></i> Olvidaste tu contraseña</a>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="mt-5 text-center">
                        <p>NO estas registrado? <a href="{{ signup_url }}" class="fw-medium text-primary"> Registrate </a> </p>
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Consorcio Jurídico Efren <i class="mdi mdi-heart text-danger"></i> by JDA</p>
                    </div>

{% endblock content %}

  
  

