{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Restablecimiento de contraseña" %}{% endblock title %}
{% block content %}

                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Restablecimiento de contraseña</h5>
                                
                                <a href="{% url 'dashboard' %}" class="logo logo-admin">
                                    <img src="{% static 'images/LOGO.png' %}" height="75" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="p-lg-5 p-4 text-center">
                            <div class="mt-4">
                                <h4>{% trans "Restablecimiento de contraseña" %}</h4>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <p class="text-muted mx-4">{% blocktrans %}Te hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos.{% endblocktrans %}</p>
                                <div class="mt-4">
                                    <a href="{% url 'dashboard' %}" class="btn btn-success w-100">Volver a Dashboard</a>
                                </div>
                            </div>
                        </div>    
                    </div>
{% endblock content %}
    